{% extends "base.html" %}
{% block title %}
  Cycle
{% endblock title %}
{% block image1 %}
  <img src="../static/cycles_pic/cycle12.jpeg" alt="" srcset="">
{% endblock image1 %}
{% block image2 %}
  <img src="../static/cycles_pic/cycle11.jpeg" alt="" srcset="">
{% endblock image2 %}
{% block image3 %}
  <img src="../static/cycles_pic/cycle10.jpeg" alt="" srcset="">
{% endblock image3 %}
{% block image4 %}
  <img src="../static/cycles_pic/cycle9.jpeg" alt="" srcset="">
{% endblock image4 %}
{% block image5 %}
  <img src="../static/cycles_pic/cycle8.jpeg" alt="" srcset="">
{% endblock image5 %}
{% block image6 %}
  <img src="../static/cycles_pic/cycle7.jpeg" alt="" srcset="">
{% endblock image6 %}
{% block image7 %}
  <img src="../static/cycles_pic/cycle6.jpeg" alt="" srcset="">
{% endblock image7 %}
{% block image8 %}
  <img src="../static/cycles_pic/cycle5.jpeg" alt="" srcset="">
{% endblock image8 %}
{% block image9 %}
  <img src="../static/cycles_pic/cycle4.jpeg" alt="" srcset="">
{% endblock image9 %}
{% block image10 %}
  <img src="../static/cycles_pic/cycles 1.jpg" alt="" srcset="">
{% endblock image10 %}
{% block image11 %}
  <img src="../static/cycles_pic/cycles 2.jpg" alt="" srcset="">
{% endblock image11 %}
{% block image12 %}
  <img src="../static/cycles_pic/cycles 3.png" alt="" srcset="">
{% endblock image12 %}
