{% extends "base.html" %}
{% block title %}
  Lamps
{% endblock title %}
{% block image1 %}
  <img src="../static/lamps/0a18c1b4-5d53-4722-b999-65c8db16b2cd.jpg" alt="" srcset="">
{% endblock image1 %}
{% block image2 %}
  <img src="../static/lamps/21u9Y6QylZL._AC_UF1000,1000_QL80_.jpg" alt="" srcset="">
{% endblock image2 %}
{% block image3 %}
  <img src="../static/lamps/img1.jpeg" alt="" srcset="">
{% endblock image3 %}
{% block image4 %}
  <img src="../static/lamps/img10.jpeg" alt="" srcset="">
{% endblock image4 %}
{% block image5 %}
  <img src="../static/lamps/img11.jpeg" alt="" srcset="">
{% endblock image5 %}
{% block image6 %}
  <img src="../static/lamps/img12.jpeg" alt="" srcset="">
{% endblock image6 %}
{% block image7 %}
  <img src="../static/lamps/img2.jpeg" alt="" srcset="">
{% endblock image7 %}
{% block image8 %}
  <img src="../static/lamps/img3.jpeg" alt="" srcset="">
{% endblock image8 %}
{% block image9 %}
  <img src="../static/lamps/img4.jpeg" alt="" srcset="">
{% endblock image9 %}
{% block image10 %}
  <img src="../static/lamps/img5.jpeg" alt="" srcset="">
{% endblock image10 %}
{% block image11 %}
  <img src="../static/lamps/img6.jpeg" alt="" srcset="">
{% endblock image11 %}
{% block image12 %}
  <img src="../static/lamps/img7.jpeg" alt="" srcset="">
{% endblock image12 %}
