<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Oswald&family=Pacifico&family=Playball&family=Teko&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
         Login
    </nav>
    
    <form class="login" method='post' action="/login">
        {% csrf_token %}
        <img src="../static/justrent1.jpg" alt="">
        <input type="text"  name="username" placeholder="Enter your email">
        <input type="password" name="password" placeholder="Enter your password">
        <button id="login-button">SIGN IN</button>
        

    </form>

</body>
</html>