{% extends "base.html" %}
{% block title %}
  Matress
{% endblock title %}
{% block image1 %}
  <img src="../static/matress/hostel matress 2.jpeg" alt="" srcset="">
{% endblock image1 %}
{% block image2 %}
  <img src="../static/matress/hostel mattress 1.jpg" alt="" srcset="">
{% endblock image2 %}
{% block image3 %}
  <img src="../static/matress/hostel mattress 3.jpg" alt="" srcset="">
{% endblock image3 %}
{% block image4 %}
  <img src="../static/matress/hostel mattress 4.jpg" alt="" srcset="">
{% endblock image4 %}
{% block image5 %}
  <img src="../static/matress/hostell matress 5.jpg" alt="" srcset="">
{% endblock image5 %}
{% block image6 %}
  <img src="../static/matress/M 1.jpg" alt="" srcset="">
{% endblock image6 %}
{% block image7 %}
  <img src="../static/matress/M 10.jpg" alt="" srcset="">
{% endblock image7 %}
{% block image8 %}
  <img src="../static/matress/M 11.jpg" alt="" srcset="">
{% endblock image8 %}
{% block image9 %}
  <img src="../static/matress/M 12.jpg" alt="" srcset="">
{% endblock image9 %}
{% block image10 %}
  <img src="../static/matress/M 2.jpg" alt="" srcset="">
{% endblock image10 %}
{% block image11 %}
  <img src="../static/matress/M 3.jpg" alt="" srcset="">
{% endblock image11 %}
{% block image12 %}
  <img src="../static/matress/M 5.jpg" alt="" srcset="">
{% endblock image12 %}
